:root {
  --uib-size: 40px;
  --uib-stroke: 5px;
  .ldrs-ring-sm {
    --uib-size: 20px;
    --uib-stroke: 2.5px;
  }
}

.ldrs-ring-container {
  --uib-color: black;
  --uib-speed: 0.9s;
  --mask-size: calc(var(--uib-size) / 2 - var(--uib-stroke));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
  -webkit-mask: radial-gradient(
    circle var(--mask-size),
    transparent 99%,
    #000 100%
  );
  mask: radial-gradient(circle var(--mask-size), transparent 99%, #000 100%);
  background-image: conic-gradient(transparent 25%, var(--uib-color));
  animation: spin calc(var(--uib-speed)) linear infinite;
  border-radius: 50%;
}

.dark {
  .ldrs-ring-container {
    --uib-color: white;
    --uib-speed: 0.9s;
    --mask-size: calc(var(--uib-size) / 2 - var(--uib-stroke));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    -webkit-mask: radial-gradient(
      circle var(--mask-size),
      transparent 99%,
      #fff 100%
    );
    mask: radial-gradient(circle var(--mask-size), transparent 99%, #fff 100%);
    background-image: conic-gradient(transparent 25%, var(--uib-color));
    animation: spin calc(var(--uib-speed)) linear infinite;
    border-radius: 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
